.ipynb_checkpoints/
__pycache__/
.idea/
/Regressions/Linear/TensorFlow_guide/Linear regression-Copy1.ipynb
/Regressions/Linear/TensorFlow_guide/auto-mpg.data
copies/
Drafts/
old/
Temp/

/Regressions/Linear/BrainSize/Drob/metric_bone2d_rost.doc
/Regressions/Linear/BrainSize/Drob/metric_cerebrum.doc
